body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 24px;
}

body > h1 {
    margin: 0;
    background-color: teal;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-top:15pt;
    padding-bottom: 15pt;
}

h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}